* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 100vw;
	height: 100vh;
	margin: 0px auto;
	background: white;
	position: relative;
}
img {
	display: block;
margin-left: auto;
margin-right: auto;
width: 50vw;
position: absolute;
top: 50%;
transform: translate(50%,-50%);
}

.blur:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}
.blur {
  -webkit-filter: blur(30px);
  filter: blur(30px);
  transition: 2s ease-in-out;
}