* {
	box-sizing: border-box;
}

body {
	background: black;
	font-family: sans-serif;
}

.canvas {
	width: 100vw;
	height: 100vh;
	margin: 0px auto;
	background: white;
	position: relative;
}
img {
	display: grid;
}

.sharp {
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}
.blur {
  -webkit-filter: blur(30px);
  filter: blur(30px);
  transition: 2s ease-in-out;
  width: 200px;
}
.desc {
	display: initial ;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 200px;
  height: auto;
 width: 200px;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  transition: 2s ease-in-out
}

.image:hover {
  opacity: 1;
    -webkit-filter: blur(0);
  filter: blur(0);
 -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 200px;
  opacity: 1.0;
  transition: .5s ease;
  background-color: #FFFFFF;
;
  color: black;
}

.container:hover .overlay {
  opacity: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


