
body {
  background-size: 350px auto;
  background-repeat: repeat;
  background-image: url("./images/bg9.gif");
  font-family: 'Palanquin', sans-serif;
  font-size: 3vh;
  color:white;
  line-height: 1.1em;
 }

.name {
    position: fixed;
    top: 0;
    left:0;
    z-index: 999;
    width: 4vh;
  }

.canvas {
  position: relative;
  width: 80vw;
  border-radius: 2vh;
  padding: 5vh;
  left: 10vw;
	background-image: linear-gradient(to bottom, pink, black);
	display: grid;
  grid-template-columns: 2fr 3fr;
}

.container1:hover ~ .image1 { 
  opacity: 1;
}
.image1 {
  opacity: 0;
  transition: 0.3s;
}

.container2:hover ~ .image2 { 
  opacity: 1;
}
.image2 {
  opacity: 0;
  transition: 0.3s;
}
.left {
  grid-column-start: 1;
}

.right {
  grid-column-start: 2;
}

/*/*Media queries*/

@media screen and (max-width: 450px) {
.canvas {
  width: 85vw;
  left: 0vw;
  grid-template-columns: 1fr;
  border-radius: 2vh;
 }

.name {
  display:none;
}
}
